body { 
  background: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/NdVxeLQPx/beer-glass-in-a-pub-half-drunk-glass-of-beer-with-an-out-of-focus-people-on-background_rvl1xgvgg_thumbnail-full01.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.body-container {
	margin: 20px;
}

a {
	color: white !important;
}

.header-title {
	font-size: 64px;
	color: white;
}

.description {
	font-size: 20px;
	color: white;
	font-style: italic;
}

.top-beers-panel {
	margin: 20px 100px;
	opacity: .8;
}

.add-beer-panel {
	padding: 20px;
	margin: 0 80px;
	opacity: .7;
}

.add-beer-form-header {
	font-size: 24px;
}

.add-beer-description {
	margin-top: 20px;
}

.add-beer-first-row {
	margin-top: 20px;
}

#addIngredient {
	margin-top: 24px;
}