{{#if loggedIn}}
{{> logged-in-nav}}
{{else}}
{{> nav}}
{{/if}}
	<div class="modal fade" id="modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id='modal-content'>
            <div class="modal-header" id='modal-header'></div>  
			</div>
			<div class="modal-body" id='modal-body'></div>  
            </div>
        </div>      
    </div>
	<div class='body-container'>
		<div class='header-title text-center'>Beer Friends</div>
		<div class='description text-center'>For friends and beers</div>
	</div>
	<div class='panel panel-default add-beer-panel'>
		<div class='panel-body'>
			<div class='add-beer-form-header'>Basic Information</div>
			<div class='row add-beer-first-row'>
				<div class='col-md-6'>
					<div class="form-group">
						<label for="usr">Beer Name</label>
						<input type="text" class="form-control" id="beerName">
					</div>
				</div>
				<div class='col-md-6'>
					<div class="form-group">
							<label>Beer Style</label>
							</br>
							<input class='datalist-group' list="beerStyles" id='beerStyle'>
							<datalist id="beerStyles">
							</datalist>
					</div>
				</div>
			</div>
			<hr>
			<div class='add-beer-form-header'>Ingredients</div>
				<div class='row add-beer-first-row'>
					<div class='col-md-6'>
						<div class="form-group">
							<label for="usr">Ingredient Name</label>
							<input list='ingredientList' class='datalist-group' id='ingredient'>
							<datalist id='ingredientList'>

							</datalist>
						</div>
					</div>
					<div class='col-md-4'>
						<div class="form-group">
							<label for="sel1">Select list:</label>
							<select class="form-control" id="ingredientType">
								<option>Grains/Malt</option>
								<option>Hops</option>
								<option>Yeast</option>
								<option>Adjuncts</option>
							</select>
						</div>
					</div>
					<div class='col-md-2'>
						<button id='addIngredient' class='btn btn-primary'>Add Ingredient</button>
					</div>
				</div>
				<div class='row'>
					<div class='col-md-3 text-center'>
						<div class='ingredient-header'><strong>Grains/Malts</strong></div>
						<ul class='list-group' id='grainsList'>
							<li class='list-group-item' id='grain-example'>Add a grain/malt</li>
						</ul>
					</div>
					<div class='col-md-3 text-center'>
						<div class=' ingredient-header'><strong>Hops</strong></div>
						<ul class='list-group' id='hopsList' >
							<li class='list-group-item' id='hop-example'>Add a hop</li>
						</ul>
					</div>
					<div class='col-md-3 text-center'>
						<div class=' ingredient-header'><strong>Yeast</strong></div>
						<ul class='list-group' id='yeastsList'>
							<li class='list-group-item'  id='yeast-example'>Add a yeast</li>
						</ul>
					</div>
					<div class='col-md-3 text-center'>
						<div class=' ingredient-header'><strong>Adjuncts</strong></div>
						<ul class='list-group'  id='adjunctsList' >
							<li class='list-group-item' id='adjunct-example'>Add an adjunct</li>
						</ul>
					</div>
				</div>
			<hr>
			<div class='add-beer-form-header'>Detailed Information</div>
			<div class='row add-beer-first-row'>
				
				<div class='col-md-3'>
					<div class="form-group">
						<label for="usr">Original Gravity</label>
						<input type="text" class="form-control" id="og">
					</div>
				</div>
				<div class='col-md-3'>
					<div class="form-group">
						<label for="usr">Ending Gravity</label>
						<input type="text" class="form-control" id="eg">
					</div>
				</div>
				<div class='col-md-3'>
					<div class="form-group">
						<label for="usr">ABV</label>
						<input type="text" class="form-control" id="abv">
					</div>
				</div>
				<div class='col-md-3'>
					<div class="form-group">
						<label for="usr">FBU</label>
						<input type="text" class="form-control" id="fbu">
					</div>
				</div>
				<div class='row'>
					<div class='col-md-12'>
						<div class="form-group add-beer-description">
							<label for="comment">Directions:</label>
							<textarea class="form-control" rows="5" id="description"></textarea>
						</div>
					</div>
				</div>
				<div class='row'>
					<div class='col-md-12'>
						<div class="form-group add-beer-description">
							<label for="comment">Description:</label>
							<textarea class="form-control" rows="5" id="description">Add a beer</textarea>
						</div>
					</div>
				</div>
			</div>
			<button class='center-block' id='submit' data-toggle='modal' data-target='#modal'>Submit</button>
		</div>
	</div>
<script>
$(document).ready(() => {

	var grains = ['agrain', 'bgrain', 'cgrain']
	var hops = ['afd', 'bz', 'zcv']
	var yeasts = ['ewr', 'zv', 'afsd']
	var adjuncts = ['vc', 'k;k', 'weo']

	var beerStyles = ["style1", "another", "third"]

	var beer = {
		yeasts: [],
		hops: [],
		grains: [],
		adjuncts: []
	}

	function removeFromArray(string, array) {
		var filtered = array.filter(item => {
			return item !== string
		})
		console.log(filtered);
		return filtered
	}

	function ingredientAutocomplete(array) {

		$("#ingredientList").empty();

		array.map(ingredient => {
			$("#ingredientList").append(`<option value='${ingredient}'>`)
		})
	}
	
	function showModal(beerObject) {

		console.log("HI")

		var name = beerObject.name;
		var style = beerObject.style;
		var og = beerObject.og;
		var eg = beerObject.eg;
		var abv = beerObject.abv;
		var fbu = beerObject.fbu;
		var grainsArray = beerObject.grains;
		var hopsArray = beerObject.hops;
		var yeastsArray = beerObject.yeasts;
		var adjunctsArray = beerObject.adjuncts;

		console.log(beerObject);

		$('#modal-header').empty();
		$('#modal-body').remove();

		$('#modal-header').append(`<div class='beerModalName'>${name}</div>`);
		$('#modal-header').append(`<div class='beerModalStyle'>${style}</div>`);
		$("#modal-header").append('<hr>')

		var div  = $('<div>');
		
		div.append(`<div>SG: ${og}</div>`)
		div.append(`<div>EG: ${eg}</div>`)
		div.append(`<div>ABV: ${abv}</div>`)
		div.append(`<div>FBU: ${fbu}</div>`)

		yeasts.map(yeast => {
			$("#modal-header").append(`<div>Yeast: ${yeast}</div>`)
		})

		function appendIngredient(array, ingredientName) {
			array.map(item => {
				$("#modal-header").append(`<div>${ingredientName}: ${item}</div>`)				
			})
		}

		appendIngredient(hopsArray, 'hop')
		appendIngredient(yeastsArray, 'yeast')
		appendIngredient(grainsArray, 'grain')
		appendIngredient(adjunctsArray, 'adjunct')
		
			
		$("#modal-header").append(div);
	}

	$('#addIngredient').on('click', function() {

		
		var ingredientName = $('#ingredient').val();
		var ingredientType = $("#ingredientType").val();
	
		

		if (!ingredientName) {
			return;
		}


		switch (ingredientType) {
			case 'Grains/Malt':
				beer.grains.push(ingredientName);
				$("#grain-example").remove();
				var li = $('<li>');
				li.attr('id', ingredientName)
				li.addClass('list-group-item')
				var div = $('<div>');
				var button = $(`<button class='remove' data-type=${ingredientType} data=${ingredientName}><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>`)
			

				div.text(ingredientName);
				div.append(button);
				li.append(div);

				$('#grainsList').append(li);
				break; 
			case 'Hops':
				beer.hops.push(ingredientName);
				$("#hop-example").remove();
				var li = $('<li>');
				li.attr('id', ingredientName)
				li.addClass('list-group-item')
				var div = $('<div>');
				var button = $(`<button class='remove' data-type=${ingredientType} data=${ingredientName}><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>`)
			

				div.text(ingredientName);
				div.append(button);
				li.append(div);

				$('#hopsList').append(li);
				break;
			case 'Yeast':
				beer.yeasts.push(ingredientName);
				$("#yeast-example").remove();
				var li = $('<li>');
				li.attr('id', ingredientName)
				li.addClass('list-group-item')
				var div = $('<div>');
				var button = $(`<button class='remove' data-type=${ingredientType} data=${ingredientName}><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>`)
			

				div.text(ingredientName);
				div.append(button);
				li.append(div);

				$('#yeastsList').append(li);
				break;
			case 'Adjuncts':
				beer.adjuncts.push(ingredientName);
				$("#adjunct-example").remove();
				var li = $('<li>');
				li.attr('id', ingredientName)
				li.addClass('list-group-item')
				var div = $('<div>');
				var button = $(`<button class='remove' data-type=${ingredientType} data=${ingredientName}><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>`)
			

				div.text(ingredientName);
				div.append(button);
				li.append(div);

				$('#adjunctsList').append(li);
				break;
		}
	})

	$("#submit").on('click', function() {
		
		var name = $("#beerName").val();
		var style = $("#beerStyle").val();
		var og = $('#og').val();
		var eg = $('#eg').val();
		var abv = $('#abv').val();
		var fbu = $('#fbu').val();

		var newBeer = {
			name, style, og, eg, abv, fbu, grains, hops, yeasts, adjuncts		
		}

	  console.log(newBeer);
	  showModal(newBeer);

	})

	$("#ingredientType").on('change', function() {
		var ingredientType = $("#ingredientType").val();
		switch (ingredientType) {
			case 'Hops':
				ingredientAutocomplete(hops)
				break;
			case 'Yeast':
				ingredientAutocomplete(yeasts)			
				break;
			case 'Grains/Malt':
				ingredientAutocomplete(grains)				
				break;
			case 'Adjuncts':
				ingredientAutocomplete(adjuncts)
				break;
		}
	})

	$(document).on('click', '.remove', function() {
		var id = ($(this).attr('data'))
		var type = ($(this).attr('data-type'))
		
		console.log(type);

		$(`#${id}`).remove()

		if (type === 'Grains/Malt') {
			beer.grains = beer.grains.filter(item => {
			return item != id
			})

			if (!beer.grains.length) {
				$('#grainsList').append("<li class='list-group-item' id='grain-example'>Add a grain/malt</li>")
			}
		}

		if (type === 'Hops') {
			beer.hops = beer.hops.filter(item => {
				return item != id
				})
	
				if (!beer.hops.length) {
					$('#hopsList').append("<li class='list-group-item' id='hop-example'>Add a hop</li>")
				}
		}
		
		if (type === 'Yeasts') {
			beer.yeasts = beer.yeasts.filter(item => {
				return item != id
				})
	
				if (!beer.yeasts.length) {
					$('#yeastsLength').append("<li class='list-group-item' id='yeast-example'>Add a yeast</li>")
				}
		}

		if (type === 'Adjuncts') {
			beer.adjuncts = beer.adjuncts.filter(item => {
				return item != id
				})
	
				if (!beer.adjuncts.length) {
					$('#adjunctsList').append("<li class='list-group-item' id='adjunct-example'>Add an adjunct</li>")
				}
		}
	})

	beerStyles.map(style => {
		$("#beerStyles").append(`<option value=${style}>`)
	})
})
	
</script>