{{#if loggedIn}}
{{> nav}}
{{else}}
{{> nav}}
{{/if}}


	<div class='panel panel-default add-beer-panel'>
		<div class='panel-heading add-beer-header'>
			Add a Beer
		</div>
		<div id="error" class='error'></div>
		<div class='panel-body'>
			<div class='add-beer-form-container'>
				<div class='add-beer-form-header'>Basic Information</div>
				<div class='row add-beer-first-row'>
					<div class='col-md-4'>
						<div class="form-group">
							<label for="usr">Beer Name</label>
							<div class='form-helper'>A unique name for your unique brew.</div>
							
							<input type="text" class="form-control" id="beerName">
						</div>
					</div>
					<div class='col-md-4'>
						<div class="form-group">
								<label>Beer Style</label>
								<div class='form-helper'>e.g. Pale Ale, Pilsner, Lager, Etc.</div>
								<input class='datalist-group' list="beerStyles" id='beerStyle'>
								<datalist id="beerStyles">
								</datalist>
						</div>
					</div>
					<div class='col-md-4'>
							<div class="form-group">
								<label>Image URL</label>
								<div class='form-helper'>An optional image of your beer.</div>
								<input class='datalist-group' list="beerStyles" id='imageUrl'>
								<datalist id="beerStyles">
								</datalist>
							</div>
						</div>
				</div>
				<hr>
				<div class='add-beer-form-header'>Ingredients</div>
					<div class='row add-beer-first-row'>
						<div class='col-md-3'>
							<div class="form-group">
								<label class='ingredient-header'>Ingredient Name</label>
								<div class='form-helper'>What's your ingredient called?</div>
								<input list='ingredientList' class='datalist-group' id='ingredient'>
								<datalist id='ingredientList'>
								</datalist>
							</div>
						</div>
						<div class='col-md-2'>
							<div class='form-group'>
								<label class='ingredient-header'>Quantity</label>
								<div class='form-helper'>How much?</div>
								<input class='form-control' id='quantity' type='number'>
							</div>
						</div>
						<div class='col-md-2'>
							<div class='form-group'>
								<label class='ingredient-header'>Measurement</label>
								<div class='form-helper'>of what?</div>
								<select class='form-control' id='quantityType'>
									<option>Tablespoon</option>
									<option>Teaspoon</option>
									<option>Gram</option>
									<option>Gallon</option>
									<option>Cup</option>
									<option>Ounce</option>
									<option>Pound</option>
									<option>Liter</option>
								</select>
							</div>
						</div>
						<div class='col-md-3'>
							<div class="form-group">
								<label class='ingredient-header'>Type</label>
								<div class='form-helper'>What are you adding?</div>
								<select class="form-control" id="ingredientType">
									<option>Grains/Malt</option>
									<option>Hops</option>
									<option>Yeast</option>
									<option>Adjuncts</option>
								</select>
							</div>
						</div>
						<div class='col-md-2'>
							<button id='addIngredient' class='btn btn-primary'>Add Ingredient</button>
						</div>
					</div>
					<div class='row'>
						<div class='added-ingredients-container'>
								<div class='panel panel-default ingredients-list-panel'>
									<div class='panel-heading add-ingredients-panel-header'>
										Added Ingredients
									<div class='form-helper text-center small-top-margin'>Ingredients aren't final until your beer is submitted by clicking the 'submit' button at the bottom of the page.</div>
										
									</div>
									<div class='panel-body added-ingredients-panel-body'>
										<ul class='added-ingredients-list' id='addedIngredientsList'>

										</ul>
									</div>
								</div>
							
						</div>
					</div>
				<hr>
				<div class='add-beer-form-header'>Detailed Information</div>
				<div class='row add-beer-first-row'>
					
					<div class='col-md-3'>
						<div class="form-group">
							<label for="usr">Original Gravity</label>
							<input type="number" class="form-control" id="og">
						</div>
					</div>
					<div class='col-md-3'>
						<div class="form-group">
							<label for="usr">Ending Gravity</label>
							<input type="number" class="form-control" id="eg">
						</div>
					</div>
					<div class='col-md-3'>
						<div class="form-group">
							<label for="usr">ABV</label>
							<input type="number" class="form-control" id="abv">
						</div>
					</div>
					<div class='col-md-3'>
						<div class="form-group">
							<label for="usr">IBU</label>
							<input type="number" class="form-control" id="ibu">
						</div>
					</div>
					<div class='row'>
						<div class='col-md-12'>
							<div class="form-group add-beer-description">
								<label for="comment">Directions</label>
								<div class='form-helper'>How's your beer made?</div>
								<textarea class="form-control" rows="5" id="directions">Add directions</textarea>
							</div>
						</div>
					</div>
					<div class='row'>
						<div class='col-md-12'>
							<div class="form-group add-beer-description">
								<label for="comment">Description</label>
								<div class='form-helper'>Tell us about your beer</div>
								<textarea class="form-control" rows="5" id="description">Add a description</textarea>
							</div>
						</div>
					</div>
					<div class='row'>
						<div class='col-md-12'>
							<div class="form-group add-beer-description">
								<label for="comment">Hashtags</label>
								<div class='form-helper'>To make your beer easier to search for.</div>
								<textarea class="form-control" rows="5" id="hashtags">#add #some #hashtags #if #you'd #like</textarea>
							</div>
						</div>
					</div>
				</div>
				<button class='center-block btn btn-danger' id='submit'>Submit</button>
			</div>
		</div>
	</div>
<script>
$(document).ready(() => {

	var grains = ['agrain', 'bgrain', 'cgrain']
	var hops = ['afd', 'bz', 'zcv']
	var yeasts = ['ewr', 'zv', 'afsd']
	var adjuncts = ['vc', 'k;k', 'weo']

	var beerStyles = ["style1", "another", "third"]

	// var beer = {
	// 	yeasts: [],
	// 	hops: [],
	// 	grains: [],
	// 	adjuncts: []
	// }

	var recipeIngred = []

	function removeFromArray(string, array) {
		var filtered = array.filter(item => {
			return item !== string
		})
		console.log(filtered);
		return filtered
	}

	function ingredientAutocomplete(array) {

		$("#ingredientList").empty();

		array.map(ingredient => {
			$("#ingredientList").append(`<option value='${ingredient}'>`)
		})
	}

	$('#addIngredient').on('click', function() {

		
		var ingredientName = $('#ingredient').val();
		var ingredientType = $("#ingredientType").val();
		var ingredientQuantity = $("#quantity").val();
		var ingredientQuantityType = $("#quantityType").val();
		

		if (!ingredientName) {
			return;
		}


		switch (ingredientType) {
			case 'Grains/Malt':

				var ingredientObject = {}
				ingredientObject.iId = 1;
				ingredientObject.specificName = ingredientName;
				ingredientObject.iQty = ingredientQuantity;
				ingredientObject.iDesc = ingredientQuantityType;

				recipeIngred.push(ingredientObject);

				if (parseInt(ingredientQuantity) !== 1) {
					ingredientQuantityType += 's'
				}

				var li = $("<li>");
				li.addClass('added-ingredient-list-item')
				li.attr('id', ingredientName)				
				var string = `${ingredientQuantity} <strong>${ingredientQuantityType.toLowerCase()}</strong> of a <span class='grain-color'>grain/malt</span> called <strong>${ingredientName}</strong>`
				li.append(`${string}`);

				var button = $(`<button class='remove btn btn-danger' data-type=${ingredientType} data=${ingredientName}><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>`)
				li.append(button);

				$('#addedIngredientsList').append(li);
				
				
				
				break; 
			case 'Hops':
				
				var ingredientObject = {}
				ingredientObject.iId = 4;
				ingredientObject.specificName = ingredientName;
				ingredientObject.iQty = ingredientQuantity;
				ingredientObject.iDesc = ingredientQuantityType;

				recipeIngred.push(ingredientObject);
				
				if (parseInt(ingredientQuantity) !== 1) {
					ingredientQuantityType += 's'
				}

				var li = $("<li>");
				li.addClass('added-ingredient-list-item')
				li.attr('id', ingredientName)				
				var string = `${ingredientQuantity} <strong>${ingredientQuantityType.toLowerCase()}</strong> of a <span class='hop-color'>hop</span> called <strong>${ingredientName}</strong>`
				li.append(`${string}`);

				var button = $(`<button class='remove btn btn-danger' data-type=${ingredientType} data=${ingredientName}><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>`)
				li.append(button);

				$('#addedIngredientsList').append(li);
				
				break;
			case 'Yeast':
			
				var ingredientObject = {}
				ingredientObject.iId = 2;
				ingredientObject.specificName = ingredientName;
				ingredientObject.iQty = ingredientQuantity;
				ingredientObject.iDesc = ingredientQuantityType;

				console.log(ingredientObject);
				recipeIngred.push(ingredientObject);
				console.log(recipeIngred);
				
				if (parseInt(ingredientQuantity) !== 1) {
					ingredientQuantityType += 's'
				}

				var li = $("<li>");
				li.addClass('added-ingredient-list-item')
				li.attr('id', ingredientName)				
				var string = `${ingredientQuantity} <strong>${ingredientQuantityType.toLowerCase()}</strong> of a <span class='yeast-color'>yeast</span> called <strong>${ingredientName}</strong>`
				li.append(`${string}`);

				var button = $(`<button class='remove btn btn-danger' data-type=${ingredientType} data=${ingredientName}><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>`)
				li.append(button);
				$('#addedIngredientsList').append(li);
				break;
			case 'Adjuncts':

				var ingredientObject = {}
				ingredientObject.iId = 3;
				ingredientObject.specificName = ingredientName;
				ingredientObject.iQty = ingredientQuantity;
				ingredientObject.iDesc = ingredientQuantityType;

				console.log(ingredientObject);
				recipeIngred.push(ingredientObject);
				console.log(recipeIngred);			
		
				if (parseInt(ingredientQuantity) !== 1) {
					ingredientQuantityType += 's'
				}

				var li = $("<li>");
				li.addClass('added-ingredient-list-item')
				li.attr('id', ingredientName)				
				var string = `${ingredientQuantity}<strong> ${ingredientQuantityType.toLowerCase()}</strong> of an <span class='adjunct-color'>adjunct</span> called <strong>${ingredientName}</strong>`
				li.append(`${string}`);

				var button = $(`<button class='remove btn btn-danger' data-type=${ingredientType} data=${ingredientName}><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>`)
				li.append(button);

				$('#addedIngredientsList').append(li);

				break;
		}
	})

	$("#submit").on('click', function() {
		
		console.log(recipeIngred)

		var userId = 4;
		var recipeName = $("#beerName").val();
		var styleName = $("#beerStyle").val();
		var OG = $('#og').val();
		var SG = $('#eg').val();
		var alcoholByVolume = $('#abv').val();
		var IBU = $('#ibu').val();
		// var ingredients = beer;
		var recipeDirections = $("#directions").val();
		var recipeDesc = $('#description').val();
		var hashtags = $("#hashtags").val();
		var picUrl = $("#imageUrl").val();

		if (!recipeIngred.length) {
			$("#error").text('Must add ingredients');
			$('html, body').animate({ scrollTop: 0 }, 'fast');
			return;
		}

		if (!recipeName) {
			$("#error").text('Must fill out recipe name');
			$('html, body').animate({ scrollTop: 0 }, 'fast');
			return;
		}

		if (!styleName) {
			$("#error").text('Must fill out beer style');
			$('html, body').animate({ scrollTop: 0 }, 'fast');
			return;
		}

		if (!OG) {
			$("#error").text('Must fill out OG');
			$('html, body').animate({ scrollTop: 0 }, 'fast');
			return;
		}

		if (!SG) {
			$("#error").text('Must fill out SG');
			$('html, body').animate({ scrollTop: 0 }, 'fast');
			return;
		}

		if (!alcoholByVolume) {
			$("#error").text('Must fill out ABV');
			$('html, body').animate({ scrollTop: 0 }, 'fast');
			return;
		}

		if (!IBU) {
			$("#error").text('Must fill out IBU');
			$('html, body').animate({ scrollTop: 0 }, 'fast');
			return;
		}

		if (!recipeDirections) {
			$("#error").text('Must fill out recipe directions');
			$('html, body').animate({ scrollTop: 0 }, 'fast');
			return;
		}
		if (!recipeDesc) {
			$("#error").text('Must fill out description');
			$('html, body').animate({ scrollTop: 0 }, 'fast');
			return;
		}

		

		if (!picUrl) {
			picUrl = 'http://cdn.shopify.com/s/files/1/1493/0474/products/Red_horse_500ml_d0db516c-6cb6-4ed2-8a16-399421d26c39_1024x1024.jpg?v=1509688944'
		}


		hashtags = hashtags.split(' ');

		hashtags = hashtags.map(hashtag => {
			return hashtag + ','
		})

	
		hashtags = hashtags.join('')

		hashtags = hashtags.substr(0, hashtags.length-1);		
		

		var newBeer = {
			recipeIngred,
			recipeName, 
			styleName,
			OG, 
			SG, 
			alcoholByVolume, 
			IBU, 
			recipeDirections, 
			recipeDesc,
			picUrl,
			userId,
			recipeHashtags: hashtags,
		}

		var ingredientBodyObject = {
			recipeIngred
		}

		  $.ajax("/api/beer/add", {
			type: "POST",
			data: newBeer
			}).then(function(data1) {
				console.log("HE")
				console.log(data1[0].recipeId);

				recipeIngred.map(recipe => {
					recipe.recipeId = data1[0].recipeId;
				})

				console.log(recipeIngred);

				$.ajax(`/api/beer/ingredient/add/${(data1[0].recipeId)}`, {
				type: "POST",
				data: ingredientBodyObject
				}).then(function(data2) {
					window.location.href = `/recipe/${data1[0].recipeId}`;
				})
			})
	})
	
	$("#ingredientType").on('change', function() {
		var ingredientType = $("#ingredientType").val();
		switch (ingredientType) {
			case 'Hops':
				ingredientAutocomplete(hops)
				break;
			case 'Yeast':
				ingredientAutocomplete(yeasts)			
				break;
			case 'Grains/Malt':
				ingredientAutocomplete(grains)				
				break;
			case 'Adjuncts':
				ingredientAutocomplete(adjuncts)
				break;
		}
	})

	$(document).on('click', '.remove', function() {
		var id = ($(this).attr('data'))
		var type = ($(this).attr('data-type'))
		
		console.log(type);

		$(`#${id}`).remove()

		console.log('unfilterd', recipeIngred)

		recipeIngred = recipeIngred.filter(item => {
			return item.specificName !== id
		})

		console.log('filtered', recipeIngred)
		
		beerStyles.map(style => {
		$("#beerStyles").append(`<option value=${style}>`)
		})
	})
});
</script>