<div class = "container">
  <div class="container">
    <h1>Welcome to Beer Friend!</h1>
    <h3>A social homebrewing app.</h3>
  </div>
  <div>
    <form method ="GET" action="/signup">
      <button class = "btn btn-default" type="submit">Sign Up</button>
    </form>
    <form method ="GET" action="/login">
      <button class = "btn btn-default" type="submit">Log In</button>
    </form>
  </div>
</div>