{{> nav}}
<body>
	<div class='body-container'>
		<div class='header-title text-center'>Beer Friends</div>
		<div class='description text-center'>For friends and beers</div>
	
		<div class='panel panel-default top-beers-panel'>
			<div class='panel-heading'>
				Top Beers
			</div>
			<div class='panel-body'>
			</div>
		</div>
	</div>
</body>
