{{> nav}}
<div class='body-container'>
	<div class='search-container panel panel-default'>
		<div class='panel-heading'>
			<div class='search-panel-header'>Search for beers</div>
		</div>
		<div class='panel-body search-panel-body'>
			<form id='search' class='form-group'>
				<div class='row search-row'>
					<div class='col-xs-5'>
						<label for="searchTerm">Search for</label>
						<input type='text' class='form-control' id='searchTerm'>
					</div>
					<div class='col-xs-5'>
						<label for="searchOptions">By</label>				
						<select class='form-control' id='searchOptions'>
							<option></option>
							<option class='text-left'>Style</option>
							<option>Hashtag</option>
							<option>Ingredients</option>			
						</select>
					</div>
					<div class='col-xs-2'>
						<button id='submit' class='btn btn-primary search-btn'> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>				
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<div class='search-results-container'>
		<!-- <div class='searcr-results-header text-center'>Search Results</div> -->
		<ul class='search-results-list list-group' id='searchResults'>
			<!-- <li class='list-group-item'>
				<div class='row'>
					<div class='col-xs-8'>
						<div class='list-beer-name'>
							Beer Name
						</div>
					</div>
					<div class='col-xs-2'>
						<div class='list-beer-style text-right'>
							Style
						</div>
					</div>
					<div class='col-xs-2 text-right' id='listBeerUpvotes'>
						<span class="glyphicon glyphicon glyphicon-arrow-up" aria-hidden="true" id='upvoteArrow'></span> 10
					</div>
				</div>
				<hr>
				<div class='search-list-hashtags text-center'>
					<div class='hashtag-list-item'>#hashtag</div><div class='hashtag-list-item'>#hashtag</div><div class='hashtag-list-item'>#hashtag</div><div class='hashtag-list-item'>#hashtag</div><div class='hashtag-list-item'>#hashtag</div><div class='hashtag-list-item'>#hashtag</div><div class='hashtag-list-item'>#hashtag</div><div class='hashtag-list-item'>#hashtag</div><div class='hashtag-list-item'>#hashtag</div><div class='hashtag-list-item'>#hashtag</div><div class='hashtag-list-item'>#hashtag</div><div class='hashtag-list-item'>#hashtag</div>
				</div>
				<div class='search-list-description'>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. At, accusantium consequuntur? Dolore accusamus sed delectus deserunt architecto numquam id autem debitis amet porro, libero quo nihil facilis distinctio? Sunt, blanditiis.
				</div>
			</li> -->
		</ul>
	</div>
</div>
<script>
$(document).ready(function() {

	var renderArray = []

	$(function(){ 
		$(window).scroll(function(){
           if($(document).height()<=$(window).scrollTop()+$(window).height()+100){
				renderTen(renderArray);
           }
			});
	});

	function renderTen(array) {
		var toBeRendered = array.slice(0, 9)
		var futureRendered = array.slice(10, array.length);

		renderArray = futureRendered;

		console.log('original', array.length);
		console.log('future', futureRendered.length);

		toBeRendered.map(beer => {
			var name = beer.recipeName;
			var upvotes = beer.upvotes;
			var style = beer.styleName;
			var description = beer.recipeDesc;
			var hashtags = renderHashtags(beer.hashtags)
			var id = beer.recipeId;


			$('#searchResults').append(`<li class='list-group-item'>
				<div class='row'>
					<div class='col-xs-10'>
						<div class='list-beer-name'>
							<a class='list-beer-name-link' href='/recipe/${id}' target='_blank'>${name}</a>
							<span class='list-beer-style' data=${style}>(${style})</span>
							<span class='search-list-description'>${description}</span>
						</div>
						<div class='style-and-hashtags-conterin'>
							<span class='search-list-hashtags'>${hashtags}</span>
						</div>
					</div>
					<div class='col-xs-2 text-right' id='listBeerUpvotes'>
						<span isUpvoted='false' class='glyphicon glyphicon glyphicon-arrow-up upvoteArrow' aria-hidden='true' data-upvotes=${upvotes} data=${id}>${upvotes}</span>
					</div>
				</div>
				</li>`)
		})
		
	}


	function renderHashtags(string) {
		var array = string.split(',')
		var result = array.map(hashtag => {
			return `<div class='hashtag-list-item'>${hashtag}</div>`
		})
		return result.join('');
	}
	
	$(document).on('click', '.upvoteArrow', function() {
		console.log("click")

		var currentUp = $(this).attr('data-upvotes');
		var id = $(this).attr('data');

		currentUp = parseInt(currentUp);
		id = parseInt(id);

		console.log(currentUp, typeof currentUp);
		console.log(id, typeof id);

		$.ajax('/recipe/upvote', {
        type: "PUT",
        data: {
            currentUp,
            id
        }
      }).then(function(data) {
        console.log('recipe Upvoted');
      })


		

		var upvotes = $(this).text();

		if ($(this).attr('isUpvoted') === 'false') {

			upvotes++;

			$(this).text(upvotes);
			$(this).attr('isUpvoted', 'true');
			$(this).addClass('red');
			return
		}

		// if ($(this).attr('isUpvoted') === 'true') {

		// 	upvotes--;

		// 	$(this).text(upvotes);			
		// 	$(this).attr('isUpvoted', 'false');
		// 	$(this).removeClass('red');
		// 	return
		// }
	})

	$(document).on('click', '.list-beer-style', function() {
		$("#searchResults").empty();
		$('html,body').scrollTop(0);

		var text = $(this).text().trim();

		text = text.substr(1, text.length - 2)

		$("#searchTerm").val(text)
		$("#searchOptions").val("Style");

		renderArray = []
		var searchTerm = $(this).attr('data').toLowerCase();
		var trimmed = searchTerm.trim()
		var term = trimmed.slice(1, trimmed.length);


		$.ajax({
		method: "GET",
		url: '/api/recipes/all'
		}).then(function(data) {
			
			var allBeers = data

			var result = allBeers.filter(beer => {
					return beer.styleName.toLowerCase() == searchTerm
				})

				renderArray = result;
				renderTen(renderArray);
			
		})	
	});

	$(document).on('click', '.hashtag-list-item', function() {

		$("#searchResults").empty();

		var text = $(this).text();
		text = text.slice(1, text.length);

		$("#searchTerm").val(text)
		$("#searchOptions").val("Hashtag");

		$('html,body').scrollTop(0);
		renderArray = []
		var searchTerm = $(this).text().toLowerCase();
		var trimmed = searchTerm.trim()
		var term = trimmed.slice(1, trimmed.length);


		$.ajax({
		method: "GET",
		url: '/api/recipes/all'
		}).then(function(data) {
			

			var allBeers = data

			var matches = []
			

			for (let i=0; i<allBeers.length; i++) {
				if (allBeers[i].hashtags) {
					var hashtags = allBeers[i].hashtags.split(',');
					
					hashtags = hashtags.map(hashtag => {
						var trimmed = hashtag.trim()
						var sliced = trimmed.slice(1, trimmed.length)
						return sliced.toLowerCase();
					})

					
					for (let j=0; j<hashtags.length; j++) {
						if (hashtags[j] === term) {
							matches.push(allBeers[i])
						}
					}
				}
			}

			renderArray = matches
			console.log(renderArray);
			renderTen(renderArray)
		})	
	});

	$("#submit").on('click', function(event) {

		$("#searchResults").empty();

		$('html,body').scrollTop(0);
		renderArray = []
		event.preventDefault();
		var searchTerm = $('#searchTerm').val().toLowerCase();
		var searchOption = $('#searchOptions').val();

		$.ajax({
		method: "GET",
		url: '/api/recipes/all'
		}).then(function(data) {
			var allBeers = data
			
			var matches = []
			
			if (searchOption === 'Hashtag') {
				for (let i=0; i<allBeers.length; i++) {
					if (allBeers[i].hashtags) {
						var hashtags = allBeers[i].hashtags.split(',');
						
						hashtags = hashtags.map(hashtag => {
							var trimmed = hashtag.trim()
							var sliced = trimmed.slice(1, trimmed.length)
							return sliced.toLowerCase();
						})

						
						for (let j=0; j<hashtags.length; j++) {
							if (hashtags[j] === searchTerm) {
								matches.push(allBeers[i])
							}
						}
					}
				}
				renderArray = matches
				renderTen(renderArray);
			}

			if (searchOption === 'Style') {
				var result = allBeers.filter(beer => {
					return beer.styleName.toLowerCase() == searchTerm
				})
				renderArray = result
				renderTen(renderArray);
			}
		})
	})

})



</script>
