{{> logged-in-nav name='dave'}}
<div class='body-container'>
	<form id='search' class='form-group'>
		<div class='row search-row'>
			<div class='col-xs-offset-3 col-xs-3'>
				<label for="searchTerm">Search</label>
				<input type='text' class='form-control' id='searchTerm'>
			</div>
			<div class='col-xs-2'>
				<label for="searchOptions">By</label>				
				<select class='form-control' id='searchOptions'>
					<option></option>
					<option class='text-left'>Style</option>
					<option>Hashtag</option>
					<option>Ingredients</option>			
				</select>
			</div>
			<div class='col-xs-1'>
				<button id='submit' class='btn btn-primary search-btn'> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>				
			</div>
		</div>
	</form>
	<div class='search-results-container'>
		<!-- <div class='searcr-results-header text-center'>Search Results</div> -->
		<ul class='search-results-list list-group' id='searchResults'>
			<!-- <li class='list-group-item'>
				<div class='row'>
					<div class='col-xs-8'>
						<div class='list-beer-name'>
							Beer Name
						</div>
					</div>
					<div class='col-xs-2'>
						<div class='list-beer-style text-right'>
							Style
						</div>
					</div>
					<div class='col-xs-2 text-right' id='listBeerUpvotes'>
						<span class="glyphicon glyphicon glyphicon-arrow-up" aria-hidden="true" id='upvoteArrow'></span> 10
					</div>
				</div>
				<hr>
				<div class='search-list-hashtags text-center'>
					<div class='hashtag-list-item'>#hashtag</div><div class='hashtag-list-item'>#hashtag</div><div class='hashtag-list-item'>#hashtag</div><div class='hashtag-list-item'>#hashtag</div><div class='hashtag-list-item'>#hashtag</div><div class='hashtag-list-item'>#hashtag</div><div class='hashtag-list-item'>#hashtag</div><div class='hashtag-list-item'>#hashtag</div><div class='hashtag-list-item'>#hashtag</div><div class='hashtag-list-item'>#hashtag</div><div class='hashtag-list-item'>#hashtag</div><div class='hashtag-list-item'>#hashtag</div>
				</div>
				<div class='search-list-description'>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. At, accusantium consequuntur? Dolore accusamus sed delectus deserunt architecto numquam id autem debitis amet porro, libero quo nihil facilis distinctio? Sunt, blanditiis.
				</div>
			</li> -->
		</ul>
	</div>
</div>
<script>
$(document).ready(function() {
	function renderHashtags(string) {
		var array = string.split(',')
		var result = array.map(hashtag => {
			return `<div class='hashtag-list-item'>${hashtag}</div>`
		})
		return result.join('');
	}

	function renderList(array) {
		array.map(beer => {
			var name = "Name"
			var upvotes = beer.upvotes;
			var style = beer.recipeStyleDesc;
			var description = beer.recipeDesc;
			var hashtags = renderHashtags(beer.hashtags)


			$('#searchResults').append(`<li class='list-group-item'><div class='row'><div class='col-xs-8'><div class='list-beer-name'>${name}</div></div><div class='col-xs-2'><div class='list-beer-style text-right'>${style}</div></div><div class='col-xs-2 text-right' id='listBeerUpvotes'><span class='glyphicon glyphicon glyphicon-arrow-up' aria-hidden='true' class='upvoteArrow'></span>${upvotes}</div></div><hr><div class='search-list-hashtags text-center'>${hashtags}</div><div class='search-list-description'>${description}</div></li>`)
		})
	}
	
	$(document).on('click', '.hashtag-list-item', function() {
		var searchTerm = $(this).text().toLowerCase();
		var trimmed = searchTerm.trim()
		var term = trimmed.slice(1, trimmed.length);
	
		$.ajax({
		method: "GET",
		url: '/api/recipes/all'
		}).then(function(data) {
			
			var allBeers = data[0]

			var matches = []
			

			for (let i=0; i<data.length; i++) {
				if (allBeers[i].hashtags) {
					var hashtags = allBeers[i].hashtags.split(',');
					
					hashtags = hashtags.map(hashtag => {
						var trimmed = hashtag.trim()
						var sliced = trimmed.slice(1, trimmed.length)
						return sliced.toLowerCase();
					})

					
					for (let j=0; j<hashtags.length; j++) {
						if (hashtags[j] === term) {
							matches.push(allBeers[i])
						}
					}
				}
			}
			$('#searchResults').empty();
			renderList(matches)
		})	
	});

	$("#submit").on('click', function(event) {

		event.preventDefault();
		var searchTerm = $('#searchTerm').val().toLowerCase();
		var searchOption = $('#searchOptions').val();

		$.ajax({
		method: "GET",
		url: '/api/recipes/all'
		}).then(function(data) {
			var allBeers = data[0];
			
			var matches = []
			
			if (searchOption === 'Hashtag') {
				for (let i=0; i<allBeers.length; i++) {
					if (allBeers[i].hashtags) {
						var hashtags = allBeers[i].hashtags.split(',');
						
						hashtags = hashtags.map(hashtag => {
							var trimmed = hashtag.trim()
							var sliced = trimmed.slice(1, trimmed.length)
							return sliced.toLowerCase();
						})

						
						for (let j=0; j<hashtags.length; j++) {
							if (hashtags[j] === searchTerm) {
								matches.push(allBeers[i])
							}
						}
					}
				}
			}

			if (searchOption === 'Style') {
				var result = allBeers.filter(beer => {
					return beer.recipeStyleDesc.toLowerCase() == searchTerm
				})

			}
			renderList(matches);
		})
	})

})



</script>
