<div class='singlebeer'>
    <div class='row'>
        <div class='col-xs-2'>
            <div class='panel panel-default beer-image-panel'>
                <img class='single-beer-image center-block thumbnail' src='https://dydza6t6xitx6.cloudfront.net/ci_2822.jpg' />
                <div class='hashtags-container'>
                    <div class='hashtags'>
                        #beer #ipa #whatever #another #more #hash #tags #summer
                    </div>
                    <hr>
                </div>
                <div class='beer-detailed-stats-container'>
                    <div>
                        <div><strong>Starting Gravity: </strong><span>5%</span></div>
                    </div>
                    <div>
                        <div><strong>Ending Gravity: </strong><span>5%</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-xs-9'>
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    <div class='row'>
                        <div class='col-xs-10'>
                            <div class='beer-name text-center'>
                                Beer Name 
                            </div>
                        </div>
                        <div class='col-xs-2 text-right'>
                            <div class='vcenter'>
                                 <span class="glyphicon glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                                 <span class='upvotes'>10</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='panel-body ingredients-panel'>
                    <div class='ingredients-container'>
                            <div class='ingredients-header'>Ingredients</div>
                        </div>
                    <div>
                        <div class='ingredient-container'>
                            <strong>Yeasts: </strong>
                            <span class='ingredients'>Morning Sunrise</span>
                        </div>
                    </div>
                    <div>
                        <div class='ingredient-container'>
                            <strong>Hops: </strong>
                            <span class='ingredients'>Morning Sunrise</span>
                        </div>
                    </div>
                    <div>
                        <div class='ingredient-container'>
                            <strong>Yeasts: </strong>
                            <span class='ingredients'>Morning Sunrise</span>
                        </div>
                    </div>
                    <div>
                        <div class='ingredient-container'>
                            <strong>Adjuncts: </strong>
                            <span class='ingredients'>Morning Sunrise</span>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <div class='directions-container'>
                            <div class='directions-header'>Directions</div>
                        </div>
                    </div>                   
                </div>
            </div>
        </div>
    </div>
</div>