<div class='userprofile'>
    <div class='username-header'>Username</div>
    <div class='row'>
        <div class='col-md-3'>
            <img src='' class='user-image'>
            <div class='user-info-container'>
                <div class='panel panel-default'>
                    <div class='user-info-container-name'>Name: Guy</div>
                </div>
            </div>
        </div>
        <div class='col-md-6'>
            <div class='user-beer-list'>
                <li class='list-group'>
                    <ul class='list-group-item'>Beer 1</ul>
                    <ul class='list-group-item'>Beer 1</ul>
                    <ul class='list-group-item'>Beer 1</ul>                                
                </li>
            </div>
        </div>
        <div class='col-md-3'>
            <div class='user-stats panel panel-default'>
                <div class='panel-heading user-stats-heading'>User Stats</div>
                <div class='panel-body user-stats-body'>
                    <div class='user-stats-beers-made'>
                    Beers: 6
                    </div>
                    <div class='user-stats-total-upvotes'>
                        Upvotes: 148
                    </div>
                    <div class='user-stats-favorite-beers-container'>
                        <div class='user-stats-favorite-beers'>
                            <ul class='list group user-stats-favorite-beers-list'>
                                <li class='user-stats-favorite-beer'>Beer 1</li>
                                <li class='user-stats-favorite-beer'>Beer 1</li>
                                <li class='user-stats-favorite-beer'>Beer 1</li>                                                        
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>