body {
	background-image: url(images/witewall_3.png);
	background-repeat: repeat;
	margin: 0;
	overflow-x: hidden;
}

.body-container {
	margin: 20px;
}

.header-title {
	font-size: 64px;
	color: white;
}

.description {
	font-size: 20px;
	color: white;
	font-style: italic;
}

.top-beers-panel {
	margin: 20px 100px;
	opacity: .8;
}

.add-beer-panel {
	margin: 0 80px;
	opacity: .7;
	margin-bottom: 100px;
}

.add-beer-form-header {
	font-size: 24px;
}

.add-beer-description {
	margin-top: 20px;
}

.add-beer-first-row {
	margin-top: 20px;
}

#addIngredient {
	margin-top: 51px;
}

/* Single Beer Style */

.single-beer-image {
	width: 100px;
	
}

.singlebeer {
	padding: 100px 200px;
}

.beer-image-panel {
	padding-top: 20px
}

.hashtags {
	font-family: 'Kalam', cursive;
	text-align: center;
}

.beer-name {
	font-size: 48px;
}

.beer-detailed-stats-container {
	padding: 0 0 10px 20px;
}

.ingredients-header, .directions-header {
	font-size: 24px;
}

.ingredient-container {
	margin: 20px;
}

.description-container {
	margin-top: 10px;
}

/* User Profile Style */

.userprofile {
	margin: 0 100px;
}

.single-beer-user-name {
	text-align: center;
}

.user-comments-header {
	font-size: 24px;
}

.username-header {
	text-align: center;
	font-size: 48px;
}

#upvoteArrow {
	cursor: pointer;
}

.red {
	color: red
}

.username-nav {
	margin-left: 5%;
}

.datalist-group {

	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.search-btn {
	margin-top: 24px;
}

.search-results-container {
	margin: 20px 200px;
}

.hashtag-list-item {
	display: inline-block;
	margin: 3px;
	cursor: pointer;
	font-family: 'Kalam', cursive;
	text-align: center;
	font-weight: 400;
	font-size: 12px;
}

.hashtag-list-item:hover {
	color: blue
}

.list-beer-name-link {
	font-size: 24px;
}

.beer-list-top-margin {
	margin-top: 10px;
}

.add-beer-form-container {
	padding: 20px;
}

.list-beer-style {
	font-weight: 700;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	margin-left: 10px;
	color: #bdd4f9
}


.search-list-description {
	font-family: 'Slabo 27px', serif;
	text-align: center;
	font-size: 16px;
	margin-left: 10px;
}

.added-ingredients-panel-body {
	height: 350px !important;
}

.glyphicon-remove {
	font-size: 12px !important;
}

.remove {
	font-size: 10px;
	margin-left: 20px;
	margin-bottom: 2px;
}

.added-ingredient-list-item {
	font-size: 18px;
	margin-top: 10px;
}

.yeast-color, .hop-color, .adjunct-color, .grain-color {
	font-weight: 700
}

.yeast-color {
	color: #42f450
}

.hop-color {
	color: #1a2fce
}

.adjunct-color {
	color: #fc073c
}

.grain-color {
	color: #f9a404
}

.form-helper {
	font-weight: 400;
	font-size: 12px;
	font-style: italic;
	margin-bottom: 10px;
}


.added-ingredients-container {
	margin-top: 20px;
	margin-left: 100px;
	margin-right: 100px;
}

.added-ingredients-list {
	font-family: 'Lato', sans-serif;	
}

.add-ingredients-panel-header {
	font-size: 24px;
	font-family: 'Lato', sans-serif;
	text-align: center;	
}

.small-top-margin {
	margin-top: 5px;
}

.search-container {
	margin-left: 300px;
	margin-right: 300px;
}

.search-panel-body {
	padding-left: 30px;
	padding-right: 30px;
}

.search-panel-header {
	font-size: 32px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.list-beer-style:hover {
	color: black;
	cursor: pointer;
}