{{> logged-in-nav name='dave'}}
<div class='body-container'>
	<form id='search' class='center-block'>
		<input type='text' class='center-block'>
		<button id='submit' class='btn btn-primary center-block'>Submit</button>
	</form>
</div>
